<%= stylesheet_link_tag 'nav' %>

<div class="nav-wrapper">
    <nav class="nav">
        <div class="left-nav">
            <%= link_to back_path do%>
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            <% end %>
        </div>
        <div class="nav-links">
                <h2 class="nav-text"><%= nav_text %></h2>
        </div>
        <div class="right-nav">
        </div>

    </nav>
</div>